.container {
  max-width: 450px;
  padding: 20px 30px;
  box-sizing: border-box;
  margin-bottom: 30px;
  user-select: none;
  position: relative;
}

.contentContainer {
  z-index: 5;
  position: relative;
}
.uniqueText {
  background: url("/images/unique-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-clip: text;
  color: transparent;
  font-weight: bold;
  animation: uniqueTextAnimate 50s 0s infinite;
}
@keyframes uniqueTextAnimate {
  from {
    background-position: top left;
  }
  50% {
    background-position: bottom left;
  }
  to {
    background-position: top left;
  }
}
.logoContainer {
  width: 250px;
  height: 60px;
  position: relative;
}

.specs {
  color: rgba(255, 255, 255, 0.8);
  font-size: 12px;
  margin: 10px 0 20px 0;
}

.overview {
  color: white;
  font-size: 36px;
  margin: 10px 0 40px 0;
}

.viewBtnContainer {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.viewBtn {
  color: white;
  border: none;
  background-color: transparent;
  padding: 0px;
  transition: all 0.05s ease-in;
  font-size: 14px;
  cursor: pointer;
  position: relative;
}

.arrow {
  margin-left: 5px;
  color: #ffb038;
}

.viewBtn:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.15s ease-out;
}

.viewBtn:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.bottomSvg {
  position: absolute;
  width: 70%;
  height: auto;
  bottom: 0px;
  right: 0px;
}

@media (max-width: 1140px) {
  .container {
    margin-bottom: 20px;
  }
  .overview {
    font-size: 40px;
  }
}

@media (max-width: 1120px) {
  .overview {
    font-size: 36px;
  }
  .logoContainer {
    width: 220px;
    height: 50px;
  }
  .specs {
    font-size: 13px;
  }
  .viewBtn {
    font-size: 14px;
  }
}

@media (max-width: 900px) {
  .overview {
    font-size: 32px;
  }
  .logoContainer {
    width: 180px;
    height: 40px;
  }
  .specs {
    font-size: 12px;
  }
  .viewBtn {
    font-size: 13px;
  }
}

@media (max-width: 750px) {
  .overview {
    font-size: 30px;
  }
  .logoContainer {
    width: 160px;
    height: 35px;
  }
  .container {
    margin-bottom: 15px;
  }
}

@media (max-width: 670px) {
  .container {
    max-width: 350px;
  }
  .overview {
    font-size: 28px;
  }
  .logoContainer {
    width: 150px;
  }
  .container {
    margin-bottom: 10px;
  }
}

@media (max-width: 570px) {
  .overview {
    font-size: 24px;
  }
  .logoContainer {
    width: 130px;
  }
}
