.hero {
  overflow-y: scroll;
  position: relative;
  animation: animateHero 1.5s;
}

.backHero {
  animation-name: backAnimateHero;
  animation-duration: 0.5s;
  animation-delay: 0.5s;
}

.cancelBtn {
  position: absolute;
  top: 5%;
  right: 5%;
  color: white;
  animation: animateCancelBtn 3s;
  cursor: pointer;
  transition: all 0.15s ease-in;
  border-radius: 50%;
  padding: 5px;
}

.backCancelBtn {
  animation: backCancelBtn 1s ease-in;
}

.cancelBtn:hover {
  background: rgba(255, 255, 255, 0.1);
}

.contentContainer {
  width: 80%;
  margin: 15vh auto 25vh auto;
  animation: animateContent 3s;
}

.backContentContainer {
  animation: backAnimateContent 1s;
}

.logoContainer {
  position: relative;
  width: 20vw;
  height: 10vh;
}

.bottomSvg {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 30%;
  height: auto;
}

.specs {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1vw;
  margin: 10px 0 20px 0;
}

.overviewContainer {
  max-width: 80%;
  margin: 40px 0;
}

.overview {
  color: white;
  font-size: 3.5vw;
  font-weight: normal;
}

.carouselContainer {
  margin-top: -15vh;
  margin-bottom: 20vh;
  overflow: hidden;
  animation: animateCarousel 1s;
}

.backCarouselContainer {
  animation-name: backAnimateCarousel;
  animation-duration: 0.5s;
  animation-delay: 0.5s;
}

@media (max-width: 1080px) {
  .specs {
    font-size: 1.4vw;
  }
}

@media (max-width: 900px) {
  .contentContainer {
    width: 90%;
  }
}

@media (max-width: 800px) {
  .logoContainer {
    width: 25vw;
  }
  .specs {
    font-size: 1.8vw;
  }
  .overview {
    font-size: 4vw;
  }
}

@media (max-width: 750px) {
  .carouselContainer {
    margin-top: -12vh;
  }
}

@media (max-width: 700px) {
  .specs {
    font-size: 2vw;
  }
  .overview {
    font-size: 4.4vw;
  }
  .bottomSvg {
    width: 40%;
  }
}

@media (max-width: 570px) {
  .logoContainer {
    width: 35vw;
    height: 8vh;
  }
  .specs {
    font-size: 3vw;
    margin: 10px 0;
  }
  .overview {
    font-size: 5.5vw;
  }
  .overviewContainer {
    max-width: 90%;
  }
  .contentContainer {
    margin: 10vh auto 20vh auto;
  }
  .carouselContainer {
    margin-top: -10vh;
  }
}

@keyframes animateHero {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
  }
}

@keyframes animateContent {
  from {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes animateCarousel {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes animateCancelBtn {
  from {
    transform: rotate(-360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes backCancelBtn {
  to {
    transform: rotate(-360deg);
  }
}

@keyframes backAnimateContent {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}

@keyframes backAnimateHero {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(-100%);
  }
}

@keyframes backAnimateCarousel {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}
