.hero {
  overflow-y: scroll;
  position: relative;
  animation: animateHero 1.5s;
}

.backHero {
  animation-name: backAnimateHero;
  animation-duration: 0.5s;
  animation-delay: 0.5s;
}

.cancelBtn {
  position: absolute;
  top: 5%;
  right: 5%;
  color: white;
  animation: animateCancelBtn 3s;
  cursor: pointer;
  transition: all 0.15s ease-in;
  border-radius: 50%;
  padding: 5px;
}

.backCancelBtn {
  animation: backCancelBtn 1s ease-in;
}

.cancelBtn:hover {
  background: rgba(255, 255, 255, 0.1);
}

.contentContainer {
  width: 55%;
  margin: 15vh auto 25vh 17vh;
  animation: animateContent 3s;
}

.backContentContainer {
  animation: backAnimateContent 1s;
}

.logoContainer {
  position: relative;
}

.logoHeading {
  color: white;
  font-size: 3.5vw;
  font-weight: 800;
}

.bottomSvg {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 30%;
  height: auto;
}

.specs {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1vw;
  margin: 10px 0 20px 0;
}

.overviewContainer {
  max-width: 80%;
  margin: 40px 0;
}

.overview {
  color: white;
  font-size: 3.5vw;
  font-weight: normal;
}

.carouselContainer {
  margin-top: -15vh;
  margin-bottom: 20vh;
  overflow: hidden;
  animation: animateCarousel 1s;
}

.backCarouselContainer {
  animation-name: backAnimateCarousel;
  animation-duration: 0.5s;
  animation-delay: 0.5s;
}
.viewBtnContainer {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.viewBtn {
  color: white;
  border: none;
  background-color: transparent;
  padding: 0px;
  transition: all 0.05s ease-in;
  font-size: 14px;
  cursor: pointer;
  position: relative;
}

.arrow {
  margin-left: 5px;
  color: #ffb038;
  transition: 0.15s ease-in-out !important;
}

.viewBtn:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.15s ease-out;
}

.viewBtn:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.viewBtn:hover ~ .arrow {
  transform: rotate(90deg);
  transition: transform 0.15s ease-in-out;
}
.pointers {
  font-size: 1.2vw;
  list-style-type: square;
  line-height: 2.2rem;
  margin-bottom: 3vh;
  color: rgba(255, 255, 255, 0.8);
}
.link {
  text-decoration: none;
}

@media (max-width: 1080px) {
  .specs {
    font-size: 1.4vw;
  }
}

@media (max-width: 900px) {
  .contentContainer {
    width: 90%;
  }
}

@media (max-width: 800px) {
  .logoContainer {
    width: 25vw;
  }
  .specs {
    font-size: 1.8vw;
  }
  .overview {
    font-size: 4vw;
  }
}

@media (max-width: 750px) {
  .carouselContainer {
    margin-top: -12vh;
  }
}

@media (max-width: 700px) {
  .specs {
    font-size: 2vw;
  }
  .overview {
    font-size: 4.4vw;
  }
  .bottomSvg {
    width: 40%;
  }
}

@media (max-width: 570px) {
  .logoContainer {
    width: 42vw !important;
    height: 5vh !important;
  }
  .specs {
    font-size: 3vw;
    margin: 10px 0;
  }
  .overview {
    font-size: 5.5vw;
  }
  .overviewContainer {
    max-width: 90%;
  }
  .contentContainer {
    margin: 10vh auto 20vh auto;
  }
  .carouselContainer {
    margin-top: -10vh;
  }
  .pointers {
    font-size: 3vw;
    line-height: 3.7vw;
  }
}

@keyframes animateHero {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
  }
}

@keyframes animateContent {
  from {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes animateCarousel {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes animateCancelBtn {
  from {
    transform: rotate(-360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes backCancelBtn {
  to {
    transform: rotate(-360deg);
  }
}

@keyframes backAnimateContent {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}

@keyframes backAnimateHero {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(-100%);
  }
}

@keyframes backAnimateCarousel {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}
