.container {
  position: relative;
  height: 100vh;
  margin: 0px auto;
  max-width: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-image: url("/svgs/hero-background.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 110% 20%;
}

.header {
  font-size: 5vw;
  line-height: 1.3em;
}

.propList {
  padding-top: 150px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  line-height: 2.2;
}

.codeText {
  font-size: 5vw;
  text-shadow: 3px;
  line-height: 1.3em;
  background: url("/images/unique-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-clip: text;
  color: transparent;
  font-weight: bold;
  animation: uniqueTextAnimate 50s 0s infinite;
}

.prop {
  text-transform: capitalize;
  font-size: 35px;
  font-weight: 500;
  line-height: 1.3em;
}

.motiveTextContainer {
  position: absolute;
  right: 0;
  bottom: 0;
  max-width: 550px;
}

.badge{
  width: 200px;
}

.motiveText {
  font-size: 35px;
  font-weight: 500;
  line-height: 1.3em;
}

@keyframes uniqueTextAnimate {
  from {
    background-position: top left;
  }
  50% {
    background-position: bottom left;
  }
  to {
    background-position: top left;
  }
}

@media (max-width: 1080px) {
  .header {
    font-size: 72px;
  }
  .container {
    background-position: 120% center;
    background-size: 80% auto;
  }
  .motiveText {
    line-height: 170%;
  }
}

@media (max-width: 900px) {
  .container {
    max-width: 90%;
  }
  .header {
    font-size: 64px;
  }
  .prop {
    font-size: 16px;
  }
  .motiveText {
    line-height: 150%;
  }
}

@media (max-width: 700px) {
  .container {
    background-size: 80% auto;
    background-position: 120% 30%;
  }
  .header {
    font-size: 48px;
    margin-bottom: 20px;
  }
  .prop {
    margin-right: 0px;
    margin-bottom: 10px;
  }
  .propList {
    flex-direction: column;
  }
  .motiveText {
    font-size: 14px;
  }
}


@media (max-width: 570px) {
  .container {
    background-size: 110% auto;
    background-position: 50% 30%;
  }
  .header {
    font-size: 32px;
    margin-bottom: 15px;
  }
  .prop {
    font-size: 14px;
  }
  .motiveTextContainer {
    left: 0;
    text-align: center;
  }
  .motiveText {
    text-align: start;
  }
  
}
