.container {
  display: flex;
  border-top: 1px solid black;
}

.blackFooter {
  display: block;
  width: 100%;
  height: 50px;
  text-align: center;
  padding-top: 26px;
}

.footerDesignContainer {
  position: relative;
  height: 650px;
  width: 380px;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}
.contactContainer {
  margin-bottom: 30px;
}

.contentContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentWrapper {
  width: 70%;
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logoContainer {
  position: relative;
  width: 200px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 70px;
}

.footerHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.detailHeader {
  width: 450px;
}

.detailHeading {
  text-transform: capitalize;
  line-height: 120%;
  margin-bottom: 10px;
}

.detailText {
  line-height: 300%;
}

.policyContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 101%;
  margin-top: 10px;
}

.socialIconsContainer {
  display: flex;
  justify-content: space-between;
}

.socialIcon {
  color: black;
}

.contactHeader {
  margin-top: 100px;
}

@media (max-width: 1400px) {
  .contentWrapper {
    width: 80%;
  }
}

@media (max-width: 1250px) {
  .contentWrapper {
    width: 90%;
  }
}

@media (max-width: 1130px) {
  .container {
    flex-direction: column-reverse;
    align-items: stretch;
  }
  .footerDesignContainer {
    display: none;
  }
  .blackFooter {
    background-color: black;
    color: white;
  }
  .contentWrapper {
    width: 80%;
    padding: 20px 0px;
  }
}

@media (max-width: 900px) {
  .contentWrapper {
    width: 90%;
  }
}

@media (max-width: 870px) {
  .detailHeading {
    font-size: 1.7em;
  }
  .contactHeader {
    font-size: 1.7em;
  }
  .detailHeader {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .detailHeading {
    max-width: 300px;
    font-size: 1.5em;
  }
  .detailText {
    max-width: 300px;
    font-size: 14px;
  }
  .contentWrapper {
    padding: 20px 0px;
  }
  .logoContainer {
    display: none;
  }
  .socialIconsContainer {
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 700px) {
  .contactContainer {
    margin-top: 140px;
  }
  .detailHeader {
    flex-direction: column;
  }
  .detailHeading {
    margin-bottom: 10px;
  }
  .contactHeader {
    font-weight: normal;
  }
  .detailText {
    max-width: 100%;
    margin-bottom: 20px;
  }
}

@media (max-width: 650px) {
  .socialIconsContainer {
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 500px) {
  .detailHeading {
    font-size: 1.4em;
    font-weight: normal;
  }
  .detailText {
    display: none;
  }
  .contactHeader {
    font-size: 1.5em;
  }
  .policyContainer {
    flex-direction: column;
    align-items: center;
  }
  .socialIconsContainer {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
  }
}
