.container {
  padding: 80px 0;
}

.full_width_text {
  position: relative;
  text-align: center;
  font-size: 10vw;
  font-weight: normal;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: -0.3em;
  user-select: none;
  margin-left: -5px;
  z-index: 10;
}
